.customerlk__inform-container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}

.customerlk__inform-block {
  background: #F8F8F8;
  border: 1px solid #8F8F8F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  max-width: 1100px;
  margin: 0px auto;
  padding: 30px;
  margin-top: 30px;
}

.inform__block-header {
  border-bottom: 1px solid #6b6b6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.block__header-foto {
  width: 70px;
  height: 70px;
}
.block__header-foto img {
  max-width: 100%;
}

.block__header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block__header-infoname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}