.executorlk__static-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.executorlk__static-block {
  background: #F8F8F8;
  border: 1px solid #8F8F8F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  max-width: 1100px;
  margin: 0px auto;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.static__block-line {
  max-width: 1000px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__line-good {
  height: 6px;
  background-color: #36AA00;
  width: 94%;
}

.block__line-late {
  height: 6px;
  background-color: #1234AD;
  width: 2%;
}

.block__line-bad {
  height: 6px;
  background-color: #AD1212;
  width: 5%;
}

.block__line-dispute {
  height: 6px;
  background-color: #242323;
  width: 1%;
}

.static__block-procent {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  font-weight: 600px;
  font-size: 16px;
}

.block-procent-good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.block-procent-good span:nth-child(2) {
  background-color: #36AA00;
}

.static__circle {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.block-procent-late {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.block-procent-late span:nth-child(2) {
  background-color: #1234AD;
}

.block-procent-bad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.block-procent-bad span:nth-child(2) {
  background-color: #AD1212;
}

.block-procent-dispute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.block-procent-dispute span:nth-child(2) {
  background-color: #242323;
}

@media (max-width: 778px) {
  .executorlk__static-title {
    font-size: 18px;
  }
  .static__block-procent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .static__block-procent {
    font-size: 12px;
  }
}
.executorlk__feedback-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.executor__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.executor__tab {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #ABCDFF;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.executor__tab a {
  color: #000;
}

.executorlk__feedback-item {
  background: #F8F8F8;
  border: 1px solid #8F8F8F;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  max-width: 1100px;
  margin: 0px auto;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.feedback__item-header {
  border-bottom: 1px solid #8F8F8F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.item__header-photo {
  width: 75px;
  height: 75px;
}
.item__header-photo img {
  max-width: 100%;
}

.item__header-name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 700;
  font-size: 18px;
}

.item__header-mean {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
}

.item__header-date {
  font-size: 16px;
}

.item__header-num {
  margin-top: 15px;
}

.feedback__item-main {
  padding-top: 15px;
}

.item__main-subject {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.item__main-text {
  min-height: 100px;
}

@media (max-width: 778px) {
  .executor__tabs {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .executor__tab {
    font-size: 14px;
    padding: 8px 17px;
  }
  .executor__tab a {
    color: #000;
  }
  .item__header-photo {
    width: 65px;
    height: 65px;
  }
  .item__header-name {
    font-size: 16px;
  }
  .item__header-mean {
    font-size: 12px;
  }
  .item__header-date {
    font-size: 14px;
  }
  .item__main-subject {
    font-size: 14px;
  }
  .executorlk__feedback-item {
    padding: 20px;
  }
  .executorlk__feedback-title {
    font-size: 22px;
  }
}
@media (max-width: 440px) {
  .feedback__item-header {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
    padding-bottom: 10px;
  }
  .executor__tab {
    font-size: 12px;
    padding: 6px 15px;
  }
  .item__header-photo {
    width: 55px;
    height: 55px;
  }
  .item__header-name {
    font-size: 14px;
  }
  .item__header-mean {
    font-size: 10px;
    margin-top: 10px;
  }
  .item__header-date {
    font-size: 12px;
  }
  .item__main-text {
    font-size: 12px;
  }
  .executorlk__feedback-item {
    padding: 15px;
  }
  .item__header-num {
    margin-top: 10px;
  }
  .executorlk__feedback-title {
    font-size: 20px;
  }
}
.mean__plus {
  color: #36AA00;
}

.mean__neitral {
  color: #242323;
}

.mean__negative {
  color: #AD1212;
}

.tabsbody__general {
  display: none;
}

.tabsbody__notifications {
  display: none;
}

.tabsbody__safety {
  display: none;
}

.tabsbody__general:target {
  display: block;
}

.tabsbody__notifications:target {
  display: block;
}

.tabsbody__safety:target {
  display: block;
}

.response__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.response__conditions span {
  color: #1234AD;
}

.response__remove {
  background-color: #2696D8;
  padding: 8px 20px;
  border-radius: 15px;
  color: white;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}
.response__remove:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs__response {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}