@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Roboto;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #eef7fc;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: #000000;
}

/*-------------------------------------------------------------------------------------------------------*/
.header {
  background-color: #2697D8;
}

.header__logo {
  margin-right: 15px;
}

.header__container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  padding: 35px 0px;
}
.header__nav ul a {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__nav ul li:hover {
  text-decoration: underline;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.menu__icon {
  display: none;
  position: relative;
  height: 20px;
  width: 30px;
}

.menu__icon span {
  position: absolute;
  background-color: black;
  left: 0;
  width: 100%;
  height: 10%;
  top: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon::after,
.menu__icon::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  left: 0;
  height: 10%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.header__login {
  font-size: 20px;
  line-height: 150%;
  padding: 15px 53px;
  background-color: #ABCDFF;
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  margin-left: 15px;
}
.header__login:hover {
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}
.header__login a {
  color: #000000;
}

@media (max-width: 1028px) {
  .header__nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    padding: 20px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  .header__nav ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 136px;
            flex: 0 1 136px;
  }
}
@media (max-width: 778px) {
  .header__logo {
    padding: 10px 0px;
  }
  .header__nav {
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    background-color: #2697D8;
    z-index: 5;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__nav ul {
    padding: 0px 0px;
  }
  .header__nav ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding: 15px 0px;
  }
  .header__nav ul li:active {
    background-color: #ABCDFF;
  }
  .menu__icon {
    display: block;
  }
  ._active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  ._active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  ._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  ._actived {
    top: 0px;
  }
  .header__login {
    padding: 10px 30px;
  }
  .header__nav ul li a {
    color: #ffffff;
  }
}
@media (max-width: 430px) {
  .header__logo {
    width: 120px;
  }
  .header__login {
    padding: 5px 20px;
  }
  .header__login a {
    font-size: 10px;
  }
  .header__nav {
    margin-top: 45px;
  }
}
/*-----------------------------------------------------------------------------------------*/
.main__container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
  background-image: url(../img/main/women.png);
  background-repeat: no-repeat;
  background-position: 450px 150px;
  background-size: auto;
}

.section__top {
  margin-top: 50px;
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 941px) {
  .top__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    margin-bottom: 30px;
  }
}
.top__title h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 91%;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  color: #2697D8;
}

.top__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #413C69;
  max-width: 605px;
}

.form__register {
  background: #FFFFFF;
  border: 1px solid #C1BFBF;
  border-radius: 50px;
  padding: 33px 35px;
  max-width: 379px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.form__register:hover {
  -webkit-box-shadow: 0px 6px 8px rgba(2, 10, 128, 0.25);
          box-shadow: 0px 6px 8px rgba(2, 10, 128, 0.25);
}
.form__register a {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
}

.register__title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  color: #101828;
  text-align: center;
  margin-bottom: 20px;
}

.register__customer {
  background: #2697D8;
  border: 1px solid #2697D8;
  border-radius: 15px;
  width: 312px;
  padding: 17px 0px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(4, 7, 221, 0.25);
          box-shadow: 0px 4px 8px rgba(4, 7, 221, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.register__customer:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.register__executor {
  background: #2697D8;
  border: 1px solid #2697D8;
  border-radius: 15px;
  width: 312px;
  padding: 17px 0px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px rgba(4, 7, 221, 0.25);
          box-shadow: 0px 4px 8px rgba(4, 7, 221, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.register__executor:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.terms {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
  background-color: #A7DBF9;
  border: 1px solid #9C9C9C;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 12px 0px;
  max-width: 400px;
  text-align: center;
  margin-bottom: 20px;
}

.terms__time {
  background-image: url(../img/main/clock.png);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: 5px;
  padding-left: 20px;
}

.terms__calendar {
  background-image: url(../img/main/calendar.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 10px 10px;
}

.terms__pocket {
  background-image: url(../img/main/pocket.png);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 10px 10px;
  margin-bottom: 220px;
}

.section__top-line img {
  max-width: 1230px;
  width: 100%;
}

@media (max-width: 440px) {
  .terms__time {
    margin-top: 150px;
  }
  .form__register {
    max-width: 312px;
  }
  .form__register a {
    font-size: 20px;
  }
  .register__customer {
    max-width: 260px;
    text-align: center;
  }
  .register__executor {
    max-width: 260px;
    text-align: center;
  }
  .register__title {
    width: 260px;
  }
  .terms__pocket {
    margin-bottom: 50px;
  }
}
@media (max-width: 1230px) {
  .main__container {
    background-position: calc(10px + 440 * (100vw - 320px) / 910) calc(300px + -120 * (100vw - 320px) / 910);
  }
  .section__top {
    margin-top: calc(30px + 20 * (100vw - 320px) / 910);
  }
  .form__register {
    padding: calc(15px + 18 * (100vw - 320px) / 910) calc(15px + 20 * (100vw - 320px) / 910);
  }
  .top__title h1 {
    font-size: calc(45px + 45 * (100vw - 320px) / 910);
  }
  .top__subtitle {
    font-size: calc(20px + 20 * (100vw - 320px) / 910);
  }
  .register__title {
    font-size: calc(25px + 15 * (100vw - 320px) / 910);
    margin-bottom: 10px;
  }
  .terms {
    font-size: calc(15px + 5 * (100vw - 320px) / 910);
  }
}
/*------------------------------------------------------------------------*/
.section__howdo {
  padding-top: 50px;
  background-image: url(../img/main/line1.png);
  background-repeat: no-repeat;
  background-position-y: 150px;
  background-size: contain;
}

.section__howdo-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 44px;
  text-align: center;
  color: #0B0C0C;
  margin-bottom: 50px;
}

.section__howdo-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  margin-bottom: 70px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  height: 190px;
  border: #9C9C9C solid 2px;
  border-radius: 12px;
  padding: 10px 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 260px;
          flex: 0 1 260px;
  -webkit-box-shadow: 0px 4px 9px rgba(115, 80, 241, 0.25);
          box-shadow: 0px 4px 9px rgba(115, 80, 241, 0.25);
}

.card__image {
  margin-bottom: 20px;
  text-align: center;
}
.card__image img {
  max-height: 80px;
}

.card__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #0F0F0F;
  text-align: center;
}

.card__gray {
  background-color: #F5E6FE;
}

.card__pink {
  background-color: #FFCCEA;
}

.card__yellow {
  background-color: #FFF9DD;
}

.card__blue {
  background-color: #E6ECFF;
}

@media (max-width: 1100px) {
  .section__howdo-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section__howdo {
    background-image: none;
  }
  .section__howdo-title {
    font-size: calc(30px + 26 * (100vw - 320px) / 910);
  }
}
@media (max-width: 440px) {
  .section__howdo {
    padding-top: 20px;
  }
}
/*---------------------------------------------------------*/
.section__order {
  padding-top: 50px;
}

.section__order-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 44px;
  text-align: center;
  color: #0B0C0C;
  margin-bottom: 50px;
}

.order__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 25px;
}

.order__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #3683F5;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px 15px;
  padding: 12px 16px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
.order__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.order__item img {
  max-width: 100%;
}

.item__img {
  width: 45px;
  margin-right: 8px;
}

.item__text {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #205778;
}

@media (max-width: 1230px) {
  .section__order-title {
    font-size: calc(40px + 16 * (100vw - 320px) / 910);
  }
}
@media (max-width: 460px) {
  .item__text {
    font-size: 22px;
    line-height: 28px;
  }
  .order__item {
    padding: 10px 10px;
  }
}
/*-------------------------------------------------------------------------------------------------*/
.section__questions {
  padding-top: 50px;
  margin-bottom: 30px;
}

.questions__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}

.question .active {
  background-color: #ADC2F9;
}

.question__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  color: #0A2B43;
  background-color: #E2EAFF;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 13px 0px 13px 40px;
  position: relative;
  cursor: pointer;
}

.question__title:before,
.question__title:after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #0A2B43;
  position: absolute;
  top: 30px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.question__title:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.question__title:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 13px;
}

.question__title.active:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.question__title.active:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.question__text {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  color: #0A2B43;
  padding-left: 40px;
  padding-right: 15px;
  display: none;
}

@media (max-width: 1230px) {
  .questions__title {
    font-size: calc(35px + 21 * (100vw - 320px) / 910);
  }
  .section__questions {
    padding-top: calc(30px + 20 * (100vw - 320px) / 910);
  }
  .question__title {
    font-size: calc(20px + 12 * (100vw - 320px) / 910);
  }
  .question__text {
    font-size: calc(20px + 12 * (100vw - 320px) / 910);
  }
}
/*----------------------------------------------------------------------------------*/
.footer {
  background-color: #404040;
}

.footer__container {
  max-width: 1230px;
  padding: 25px 15px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left__elem {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.right__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.right__elem-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.right__elem-img {
  max-width: 100%;
}
.right__elem-img img {
  width: 100%;
}

@media (max-width: 1230px) {
  .left__elem {
    font-size: calc(12px + 4 * (100vw - 320px) / 910);
  }
  .right__elem-text {
    font-size: calc(12px + 4 * (100vw - 320px) / 910);
  }
}
@media (max-width: 440px) {
  .right__elem-text {
    display: none;
  }
}
/*----------------------------------------------------------------------------------------------------------*/
.termsOfUse__container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}

.termsOfUse__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 150%;
  color: #000000;
  margin: 30px 0px 20px 0px;
  text-align: center;
}

.termsOfUse__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 20px;
}

@media (max-width: 1230px) {
  .termsOfUse__title {
    font-size: calc(30px + 15 * (100vw - 320px) / 910);
  }
  .termsOfUse__text {
    font-size: calc(12px + 4 * (100vw - 320px) / 910);
  }
}
.garant__container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}

.garant__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 150%;
  color: #000000;
  margin: 30px 0px 20px 0px;
  text-align: center;
}

.garant__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 20px;
}

@media (max-width: 1230px) {
  .garant__title {
    font-size: calc(30px + 15 * (100vw - 320px) / 910);
  }
  .garant__text {
    font-size: calc(12px + 4 * (100vw - 320px) / 910);
  }
}
.log__account {
  margin: 15px 0px;
}

.registermain__conteiner {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0px 15px;
}

.registermain__title {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 150%;
  color: #000000;
  margin: 30px 0px 30px 0px;
  text-align: center;
}

.registermain__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-bottom: 30px;
}

.registermain__button {
  max-width: 214px;
  padding: 15px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 8px #ABCDFF;
          box-shadow: 0px 4px 8px #ABCDFF;
  background-color: #ABCDFF;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101010;
  border: solid 1px #bdbdbd;
}

.registermain__form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 40px;
  max-width: 700px;
  margin: 0px auto;
  background: #2696D8;
  border: 1px solid #BBB9B9;
  -webkit-box-shadow: 0px 4px 15px #0C5D8C;
          box-shadow: 0px 4px 15px #0C5D8C;
  border-radius: 50px;
  margin-bottom: 30px;
}

.registermain__form-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 30px;
}
.registermain__form-first ::-webkit-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-first ::-moz-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-first :-ms-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-first ::-ms-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-first ::placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.form__stroke {
  background: #2696D8;
  border-bottom: 1px solid #000000;
  max-width: 357.5px;
  height: 56px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.registermain__form-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-bottom: 25px;
}
.registermain__form-two ::-webkit-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-two ::-moz-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-two :-ms-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-two ::-ms-input-placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.registermain__form-two ::placeholder {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.registermain__form-check {
  margin-bottom: 35px;
}
.registermain__form-check span {
  font-family: Roboto;
  color: aliceblue;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.registermain__form-check a {
  font-family: Roboto;
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-decoration: underline;
}

.registermain__form-button {
  margin: 0px auto;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ABCDFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.registermain__form-button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.registermain__form-buttonsocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.registermain__form-buttonvk {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ABCDFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 0px;
  cursor: pointer;
}
.registermain__form-buttonvk:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.registermain__form-buttogoogle {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ABCDFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  padding: 15px 0px;
  cursor: pointer;
}
.registermain__form-buttogoogle:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 1230px) {
  .registermain__form-check span {
    font-size: calc(16px + 4 * (100vw - 320px) / 910);
  }
  .registermain__form-check a {
    font-size: calc(16px + 4 * (100vw - 320px) / 910);
  }
}
@media (max-width: 486px) {
  .registermain__form-first {
    margin-bottom: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .registermain__form-two {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
            flex: 1 0 200px;
  }
  .registermain__form-buttonsocial {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .registermain__form-buttonvk {
    margin-bottom: 20px;
  }
  .registermain__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .registermain__button:first-child {
    margin-bottom: 20px;
  }
}