.termsOfUse__container {
  min-width: 1230px;
  padding: 0px 15px;
  margin: 0px auto;
}

.termsOfUse__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  color: #000000;
  margin: 30px 0px 20px 0px;
}

.termsOfUse__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}