.log__account{
   margin: 15px 0px;
}
.registermain {
}
.registermain__conteiner {
   max-width: 1230px;
   margin: 0px auto;
   padding: 0px 15px;
}
.registermain__title {
   font-style: normal;
   font-weight: 500;
   font-size: 45px;
   line-height: 150%;
   color: #000000;
   margin: 30px 0px 30px 0px;
   text-align: center;
}
.registermain__buttons {
   display:flex;
   align-items: center;
   justify-content: center;
   column-gap: 15px;
   margin-bottom: 30px;
}
.registermain__button {
   max-width: 214px;
   padding: 15px 15px;
   border-radius: 15px;
   box-shadow: 0px 4px 8px #ABCDFF;
   background-color: #ABCDFF;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 120%;
   color: #101010;
   border: solid 1px #bdbdbd;

}
.registermain__form {
   justify-content:center ;
   padding: 40px 40px;
   max-width: 700px;
   margin: 0px auto;
   background: #2696D8;
   border: 1px solid #BBB9B9;
   box-shadow: 0px 4px 15px #0C5D8C;
   border-radius: 50px;
   margin-bottom: 30px;
}
.registermain__form-first {
   display:flex ;
   flex-wrap: wrap;
   align-items: center;
   justify-content:center;
   column-gap: 60px;
   margin-bottom: 30px;
   ::placeholder{
      font-family: Roboto;
      color: aliceblue;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%
   }
}
.form__stroke {
   background: #2696D8;
   border-bottom: 1px  solid #000000;
   max-width: 357.5px;
   height:56px ;
   flex: 1 0;
}
.registermain__form-two {
   display:flex ;
   align-items: center;
   justify-content: space-between;
   column-gap: 60px;
   margin-bottom: 25px;
   ::placeholder{
      font-family: Roboto;
      color: aliceblue;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 120%
   }

}
.registermain__form-check {
   margin-bottom: 35px;
   span{
      font-family: Roboto;
      color: aliceblue;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
   }
   a{
      font-family: Roboto;
      color: rgb(0, 0, 0);
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-decoration: underline;
   }
}
.registermain__form-button {
   margin: 0px auto;
   margin-bottom: 20px;
   display: block;
   width: 100%;
   text-align: center;
   background-color: #ABCDFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   color: #000000;
   font-weight: 400;
   font-size: 20px;
   padding: 15px 0px;
   transition: all 0.3s ease 0s;
   &:active{
      box-shadow: none
   }
}
.registermain__form-buttonsocial {
   display: flex;
   align-items: center;
   column-gap: 30px;
}
.registermain__form-buttonvk {
   display: block;
   width: 100%;
   text-align: center;
   background-color: #ABCDFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   color: #000000;
   font-weight: 400;
   font-size: 20px;
   padding: 15px 0px;
   cursor: pointer;
   &:active{
      box-shadow: none
   }
}
.registermain__form-buttogoogle {
   display: block;
   width: 100%;
   text-align: center;
   background-color: #ABCDFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   color: #000000;
   font-weight: 400;
   font-size: 20px;
   padding: 15px 0px;
   cursor: pointer;
   &:active{
      box-shadow: none
   }
}

@media(max-width:1230px){
.registermain__form-check {
   span{
      font-size:calc(16px + (20 - 16) * ((100vw - 320px) / (1230 - 320)));
   }
   a{
      font-size:calc(16px + (20 - 16) * ((100vw - 320px) / (1230 - 320)));
   }
} 
}
@media(max-width:486px){
   .registermain__form-first {
      margin-bottom: 0px;
      flex-wrap: wrap;
      flex: 1 0 200px;
   }
   .registermain__form-two {
      flex-wrap: wrap;
      flex: 1 0 200px;
   }
   .registermain__form-buttonsocial{
      flex-wrap: wrap;
   }
   .registermain__form-buttonvk {
      margin-bottom: 20px;
   }
  

}


 