.executorlk__static-title {
   font-size: 24px;
   font-weight: 700;
   text-align: center;

}
.executorlk__static-block {
   background: #F8F8F8;
   border: 1px solid #8F8F8F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   max-width: 1100px;
   margin: 0px auto;
   padding: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.static__block-line {
   max-width: 1000px;
   margin: 0px auto;
}
.block__line-good {
   height: 5px;
   background-color: #36AA00;
   width: 94%;
   padding: 0ch;
}
.block__line-late {
}
.block__line-bad {
}
.block__line-dispute {
}