.maincustomerlkorders__container {
   max-width: 1230px;
   padding: 0px 15px;
   margin: 0px auto;
}
.maincustomerlkorders__tabs {
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
   column-gap: 10px;
   margin-bottom: 20px;
}
.customerlkorders__tab {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   text-align: center;
   color: #2B38AB;
   transition: all 0.6s ease 0s;
   &:hover{
      text-decoration: underline;
    }
}
.tabsbody__auction {
   display: none;
}
.tabsbody__work  {
   display: none;
}
.tabsbody__cancel{
   display: none;
}
.tabsbody__auction:target {
   display: block;
}
.tabsbody__work:target {
   display: block;
}
.tabsbody__cancel:target {
   display: block;
}

.order__inauction {
   background: #F8F8F8;
   border: 1px solid #8F8F8F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   max-width: 1100px;
   margin: 0px auto;
   padding: 30px;
   display: flex;
   margin-bottom: 30px;
   column-gap: 20px;
}
.inauction__header{
   display: flex;
   justify-content:space-between ;
   margin-bottom: 10px;
   align-items: center;
   }
.inauction__left {
   flex: 1 1 auto;
}
.inauction__left-title {
   font-weight: 700;
   font-size: 22px;
   color: #000000;
   margin-bottom: 10px;
}
.inauction__left-subtitle {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #000000;
   margin-bottom: 15px;

}
.inauction__left-description {
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 24px;
   border: 1px solid #CCCCCC;
   border-radius: 15px;
   max-width: 700px;
   min-height: 120px;
   padding: 5px 10px;
   margin-bottom: 20px;

}
.inauction__left-buttons {
   font-weight: 600;
   font-size: 18px;
   color: #030303;
   a{
      background: #ABCDFF;
      border: 1px solid #2697D8;
      border-radius: 15px;
      padding: 8px 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      &:active{
         box-shadow: none;
      }
      &:first-child{
         margin-right: 10px;
      }
   }
   img{
      width: 18px;
      height: 18px;
   }
   
}

.inauction__right-priece {
   font-weight: 700;
   font-size: 22px;
   color: #000000;
   margin-bottom: 10px;
   span{
      color: #2697D8;
   }
   img{
      width: 20px;
      height: 20px;
   }
}
.inauction__right-term {
   font-weight: 400;
   font-size: 16px;
   color: #000000;
   margin-bottom: 10px;
}
.inauction__right-garant {
   font-weight: 400;
   font-size: 16px;
   color: #000000;
}

@media(max-width:767px){
   .inauction__right-priece{
      font-size: 18px;
      margin-bottom: 5px;
      img{
         width: 18px;
         height: 18px;
      };
   } 
   .inauction__right-term {
      font-size: 14px;
      margin-bottom: 5px;
   }
   .inauction__right-garant{
      font-size: 14px;
   }
   .inauction__left-buttons {
      font-size: 14px;
      a{
         min-width: 132px;
         padding: 6px 8px;
      }
      img{
         width: 14px;
         height: 14px;
      }
      
   }
   .inauction__left-title {
      font-size: 18px;
   }
   .inauction__left-subtitle {
      font-size: 14px;
   }
   .customerlkorders__tab {
      font-size: 16px;
   }

}

@media(max-width:549px){
   .inauction__right-priece{
      font-size: 16px;
      margin-bottom: 5px;
      img{
         width: 16px;
         height: 16px;
      };
   } 
   .inauction__right-term {
      font-size: 12px;
      margin-bottom: 5px;
   }
   .inauction__right-garant{
      font-size: 12px;
   }
   .inauction__left-buttons {
      font-size: 12px;
      a{
         min-width: 132px;
         padding: 6px 8px;
      }
      img{
         width: 12px;
         height: 12px;
      }
      
   }
   .inauction__left-title {
      font-size: 16px;
   }
   .inauction__left-subtitle {
      font-size: 12px;
   }
   .customerlkorders__tab {
      font-size: 14px;
   }

}
@media(max-width:465px){
   .inauction__right-priece{
      font-size: 12px;
      margin-bottom: 5px;
      img{
         width: 12px;
         height: 12px;
      };
   } 
   .inauction__right-term {
      font-size: 10px;
      margin-bottom: 5px;
   }
   .inauction__right-garant{
      font-size: 10px;
   }
   .inauction__left-buttons {
      font-size: 10px;
      a{
         min-width: 132px;
         padding: 6px 8px;
      }
      img{
         width: 12px;
         height: 12px;
      }
      
   }
   .inauction__left-title {
      font-size: 14px;
      margin-bottom: 5px;
   }
   .inauction__left-subtitle {
      font-size: 10px;
   }
   .customerlkorders__tab {
      font-size: 12px;
   }

}

.offers__executor {
   margin-top: 30px;
  
}
.offers__executor-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 120%;
   color: #000000;
   margin-bottom: 20px;
}
.offer__executor {
   background: #F8F8F8;
   border: 1px solid #8F8F8F;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 50px;
   max-width: 1100px;
   margin: 0px auto;
   padding: 30px;
   margin-bottom: 20px;
   margin-top: 10px;
  
}
.offer__header {
   display: flex;
   border-bottom: 1px solid #8a8a8a;
   padding-bottom: 10px;
}
.executor__profile {
   margin-right: 10px;
   img{
      width: 70px;
      height: 70px;
   }
}
.executor__character {
   flex: 1 1 auto;
}
.executor__name {
   font-weight: 400;
   font-size: 16px;
   line-height: 120%;
   color: #A67C0B;
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin-bottom: 5px;
   img{
      width: 16px;
      height: 16px;
   }
   
}
.executor__rate{
   font-size: 14px;
   background: #A293FE;
   border-radius: 15px;
   color: #000000;
   padding: 0px 5px;
}
.executor__countorder {
   display: flex;
   span{
      margin: 0px 5px;
      color: #2B38AB
   };
}
.executor__feedback {
   span:nth-child(1) {
      color: #00812b;
   }
   span:nth-child(2) {
      color: #8d0101;
   }
   span:nth-child(3) {
      color: #636363;
   }
}
.executor__condition {
   min-width: 150px;
}
.executor__price {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   color: #000000;
   margin-bottom: 5px;
   span{
      color: #2697D8;
   }
   img{
      width:20px;
      height: 20px;
   }
}
.executor__term {
   font-size: 16px;
   span{
      color: #8d0101;
   }
}
.offer__main {
   padding-top: 30px;
}
.offer__main-text {
   font-size: 22px;
   line-height: 120%;
   font-weight: 400;
   font-style:normal;
   min-height: 100px;
}
.offer__main-buttons {
   text-align: right;
}
.offer__main-button {
   font-size: 18px;
   margin-left: 10px;
   line-height: 120%;
   font-style: normal;
   padding: 7px 15px;
   background: #ABCDFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   transition: all 0.3s ease 0s;
   cursor: pointer;
   &:active{
      box-shadow: none;
   }
}

@media(max-width:767px){
   .offer__main-text {
      font-size: 18px;

   }
   .offer__main-button {
      font-size: 14px;
      padding: 7px 15px;

   }

   .executor__profile {
      img{
         width: 60px;
         height: 60px;
      }
   }
   .executor__name {
      font-size: 14px;
      column-gap: 6px;
      img{
         width: 14px;
         height: 14px;
      }
      
   }
   .executor__rate{
      font-size: 12px;
   }
   .executor__price {
      font-size: 18px;

      span{
         color: #2697D8;
      }
      img{
         width:16px;
         height: 16px;
      }
   }
   .executor__term {
      font-size: 14px;
      span{
         color: #8d0101;
      }
   }
   .offers__executor-title{
      font-size: 20px;
   }
   .offer__main {
      padding-top: 25px;
   }
   .executor__countorder{
      font-size: 12px;
   }
}
@media(max-width:570px){
   .offer__main-text {
      font-size: 16px;

   }
   .executor__countorder {
      flex-wrap:wrap ;
      span{
         margin: 0px 5px;
         color: #2B38AB
      };
   }
   .executor__condition {
      min-width: 110px;
   }
   .offers__executor-title{
      font-size: 18px;
   }
   .offer__main {
      padding-top: 20px;
   }
   
}

@media(max-width:465px){
   .offer__main-text {
      font-size: 12px;

   }
   .offer__main-button {
      font-size: 12px;
      padding: 7px 15px;
      span{
         display: none;
      }

   }

   .executor__profile {
      img{
         width: 45px;
         height: 45px;
      }
   }
   .executor__name {
      font-size: 9px;
      column-gap: 3px;
      img{
         width: 9px;
         height: 9px;
      }
      
   }
   .executor__rate{
      font-size: 9px;
   }
   .executor__price {
      font-size: 12px;

      span{
         color: #2697D8;
      }
      img{
         width:10px;
         height: 10px;
      }
   }
   .executor__term {
      font-size: 10px;
      span{
         color: #8d0101;
      }
   }
   .offer__main {
      padding-top: 10px;
   }
   .executor__countorder{
      font-size: 10px;
      span{
         margin: 0px 2px;
         color: #2B38AB
      };
   }
   .executor__condition {
      min-width: 80px;
      margin-left: 10px;
   }

}

.tabsbody__work {

}
.tabsbody__cancel {
}











