.orderfeed__container {
    max-width: 1230px;
    margin: 0px auto;
    padding: 0px 15px;
}
.orderfeed__search {
    border: 1px solid #A8A1A1;
    box-shadow:0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    max-width: 1000px;
    justify-content: center;
}
.search__ordername {
    background: rgba(197, 197, 197, 0.12);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 8px;
    flex: 0 1 200px;
}
.search__object {
    flex: 0 1 250px; 
    select{
        background: rgba(197, 197, 197, 0.12);
        border: 1px solid #CCCCCC;
        border-radius: 15px;
        padding: 8px;
    }
  
}
.search__type {
    select{
        background: rgba(197, 197, 197, 0.12);
        border: 1px solid #CCCCCC;
        border-radius: 15px;
        padding: 8px;
    }
}
.search__cost {
    display:flex;
    column-gap: 10px;
    align-items: center;
}
.search__costfrom {
    background: rgba(197, 197, 197, 0.12);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 8px;
    max-width: 80px;
}
.search__costbefore {
    background: rgba(197, 197, 197, 0.12);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 8px;
    max-width: 80px;
}
.search__term {
    display:flex;
    column-gap: 10px;
    align-items: center;
}
.search__termfrom {
    background: rgba(197, 197, 197, 0.12);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 8px;
    max-width: 100px;
}
.search__termbefore {
    background: rgba(197, 197, 197, 0.12);
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    padding: 8px;
    max-width: 100px;
}
.search__button {
    background: #2697D8;
    border-radius: 15px;
    text-align: center;
    padding: 8px 50px;
    color: azure;
    img{
        width: 14px;
        height: 14px;
    };
}
@media(max-width:900px){
    .orderfeed__search {
        padding: 15px;
        column-gap: 15px;
        font-size: 13px;
        row-gap: 10px;
        max-width: 1000px;
        justify-content: center;
    }
    .search__ordername {
        flex: 0 1 150px;
    }

}
@media(max-width:828px){
    .orderfeed__search {
        max-width: 650px;
    }
}
@media(max-width:624px){
    .search__object {
        span{
            display: none;
        } 
    }
    .search__type {
        span{
            display: none;
        }
    }
    .orderfeed__search {
        font-size: 12px;
    }
    .search__costfrom {
        max-width: 50px;
        font-size: 12px;
        padding: 10px;
    }
    .search__costbefore {
        max-width: 70px;
        font-size: 12px;
        padding: 10px;
    }
    .search__termfrom {
        max-width: 70px;
        font-size: 12px;
        padding: 10px;
    }
    .search__termbefore {
        max-width: 70px;
        font-size: 12px;
        padding: 10px;
    }
    .search__object {
        flex: 0 1 150px; 
        select{
        font-size: 12px;
        }
      
    }
    .search__type {
        select{
            font-size: 12px;
        }
    }
    .search__ordername {
        font-size: 12px;
        flex: 0 1 150px;
    }
}
@media(max-width:461px){
    .orderfeed__search {
        row-gap: 5px;
    }
    .search__term {
        column-gap: 5px;
        padding: 0px;
        ::placeholder{
            font-size: 10px;
        }
    }
    .search__cost {
        column-gap: 5px;
        padding: 0px;
        ::placeholder{
            font-size: 10px;
        }
    }
    .search__costfrom {
        max-width: 50px;

    }
    .search__costbefore {
        max-width: 60px;
    }
    .search__termfrom {
        max-width: 55px;
    }
    .search__termbefore {
        max-width: 55px;
    }
    .search__button{
        flex: 1 1 100%;
    }
}
@media(max-width:396px){
    .search__ordername{
        flex: 1 1 100px;
    }
    .search__object {
        select{
        font-size: 12px;
        width: 100%;
        }
      
    }
    .search__type {
        select{
            font-size: 12px;
        }
    }
}

.orderfeed__order {
    border: 1px solid #A8A1A1;
    box-shadow:0px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin: 20px auto;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
 
}
.order__header {
    display: flex;
    font-weight: 600;
    border-bottom: 1px solid #8d8d8d;
    padding-bottom: 10px;
}
.order__header-left {
    flex: 1 1 auto;
}
.header__left-character {
    margin-bottom: 10px;
}
.header__left-date {
    img{
        width: 14px;
        height: 14px;
    }
}
.order__header-num {
}
.order__main {
    min-height: 70px;
    span{
        font-weight: 600;
    }
}
.main__object {
    margin-bottom: 5px;
}
.main__type {
    margin-bottom: 5px;
}
.main__cost {
}
.order__footer {
    display: flex;
    align-items: center;

}
.footer__character {
    flex: 1 1 auto;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.character__profile {
    width: 60px;
    height: 60px;
    img{
        width: 100%;
    }
}
.character__id {
}
.id__name {
    margin-bottom: 5px;
    color: #A67C0B;
    img{
        width: 14px;
        height: 14px;
    }
}
.id__time {
    span{
        font-weight: 600;
    }
}
.footer__open {
    color: #2696D8;
    &:hover{
        text-decoration: underline;
    }
}
@media(max-width:624px){
    .orderfeed__order {
        font-size: 13px;
    }
    .character__profile {
        width: 50px;
        height: 50px;
 
    }
}
@media(max-width:396px){
    .orderfeed__order {
        font-size: 12px;
    }
}
.order__detail {
    margin-top: 15px;
    border-top: 1px solid #8d8d8d;
 
}
.order__detail-text {
    margin-top: 20px;
    margin-bottom: 20px;
}
.order__detail-response {
}
.detail__response-text {
    width: 100%;
    min-height: 100px;
    border-radius: 15px;
    padding: 5px;
}
textarea{
    resize: none;
}
.order__detail-conditions {
    display: flex;
    margin-top: 20px;
    column-gap: 10px;
}
.conditions__cost {
    max-width: 60px;
    height: 30px;
    border-radius: 15px;
    padding: 3px;
}
.response__button {
    background-color: #2696D8;
    padding: 8px 20px;
    border-radius: 15px;
    color: #ffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease 0s; 
    &:active{
        box-shadow: none;
    }

}
@media(max-width:396px){
    .order__detail-conditions {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .response__button {
        width: 100%;
    }
}